[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
# Werkzeug = "2.2.2"
pytest = "*"
ipdb = "*"
importlib-metadata = "*"
importlib-resources = "*"
Faker = "*"


[requires]
python_full_version = "3.8.13"